body{
	background-color:#ffffff;
	padding:10px 10px;
	}
		.speech {
  width: 200px;
  height: 100px;
  background-color: cyan;
  padding:10px 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.bubble-point{
  position: relative;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid cyan;
  left: -210px;
  top:20px;
}